body {
  margin: 0;
  background-color: grey;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas: 'green-camp red-camp' 'blue-camp yellow-camp';
  grid-gap: 10px;
  border: 1px solid #000000;
  background-color: #000000;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.green {
  grid-area: green-camp;
  background-color: green;
  border-top-left-radius: 100%;
}
.red {
  grid-area: red-camp;
  background-color: red;
  border-top-right-radius: 100%;
}
.blue {
  grid-area: blue-camp;
  background-color: blue;
  border-bottom-left-radius: 100%;
}
.yellow {
  grid-area: yellow-camp;
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.2;
}

audio {
    position: fixed;
    bottom:0; 
    right:0;
    margin: 5px 5px
}

.score{
    position: fixed;
    top:0; 
    left:0;
    margin: 5px 5px
}